.contact-section{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: contain;
  text-align: center;
  color: #ffffff;
  padding-top: 0;
  text-align: center;
  color: #fff;
  z-index: -1;

}
.contact{
  background: url(../media/section/contact0.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.contact-overlay {
  opacity: 0.85;
  filter: alpha(opacity=85);
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  object-fit: cover;
  background-position: contain;
  z-index: 0;
}



.yellow-text{
  color: #d1a522;
  font-family: Rufina;
}

.contact-wrap{
  text-align: center;
  width: 100%;
  position:absolute;
  padding: 5% 3% 3% 3%;
  line-height: 1.5;
}
.contact-title{
  margin-top: 2%;
  margin-bottom: 1%;
}
.contact-details{
  padding-left: 20%;
  padding-right: 20%;
}

.contact-small{
  padding-top: 1%;
  padding-left: 20%;
  padding-right: 20%;
}
.contact-form{
  padding-left: 12%;
  padding-right: 12%;
}

.contact-text{
  font-size: 12pt;
  margin-bottom: 1%;
}
.contact-input{
  background: transparent;
  border: 1px solid #fff;
  padding: 1%;
  font-size: 15px;
  color: #fff;
  width: 100%;
  margin-bottom: 5%
}
.contact-radio{
  border: 3px solid #fff;

}
.contact-options{
  padding: 1%;
}

.btn-contact{
  background-color: #d1a522;
  color: #fff; 
  border-radius: 0;
  width: 10%;
  height: 10%;
  margin-top: 3%;
}
.btn-contact:hover{
  color:#fff;
}      
.contact-send{
  width: 100%;
  position: absolute;
  padding: 40% 15% 1% 15%;
  z-index: 1;
}                      


input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #ffffff;
}
input[type="radio"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align:middle;
    cursor:pointer;
}

input[type="radio"] + label span {
    background: transparent;
    border: 1px solid #fff;
}

input[type="radio"]:checked + label span{
     background-color:#fff;
  border: 1px solid #fff;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
input[type="radio"]:unchecked + label span{
  background-color:transparent;
  border: 1px solid #fff;
}