.footer-distributed{
	text-align: left;
	width: 100%;
	font-family: Avenir Next, serif;
	font-size: 16px;
}
.footer-distributed div #footer-top{
	background-color: #c3d1db;
	color:  #4d4d4d;
	padding: 3%;
}

.footer-distributed div #footer-top div #footer-logo{
  	max-width:80%;
  	height:auto;
	padding: 5%;
}
.footer-distributed div #footer-top div .footer-address{
	padding: 5%;
}

.footer-distributed div #footer-top #bordered{
	border-left: 2px solid #a4aab0;
	border-right: 2px solid #a4aab0;
}
.footer-distributed div #footer-copyright{
	background-color: #28455f;
	color:  #ffffff;
	padding: 1%;
}

@media (max-width: 600px) {

	.footer-distributed div #footer-top,
	.footer-distributed div #footer-copyright{
		text-align: center;
	}
	.footer-distributed div #footer-top div #footer-logo{
		margin-left: auto;
		margin-right: auto;
	}
	.footer-distributed div #footer-top #bordered{
		padding: 5%;
		border-top: 2px solid #a4aab0;
		border-bottom: 2px solid #a4aab0;
		border-left: transparent;
		border-right: transparent;
	}
}