.header-section{
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: contain;

  text-align: center;
  color: #ffffff;
  height: 40%;

  padding-top: 0;
  text-align: center;
  background-color: #acacac;
  color: #fff;
  z-index: -1;

}
.overlay-header {
  opacity: 0.50;
  filter: alpha(opacity=50);
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  width: 100%;
  height: 40%;
  background-size: 100% 100%;
  background-color: black;
  background-color: ;
  background-position: center center;
  object-fit: cover;
  background-size: contain; 
/*  margin-top: 5%;*/
  z-index: 0;
}


.header-title{
  text-align: center;
  width: 100%;
  z-index: 0;
  width: 300px;
  height: 100px;
  padding: 20px;
  z-index: 1;

  position: absolute;
  top: 35%;
  left: 50%;
  right: 50%;
  margin: -70px 0 0 -160px;
}
.content-section {
  width: 100%;
  background-color: #d9e2e8;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  text-align: center;
  color: #ffffff;
  z-index: -1;
}



.blue {
  background-color: #28455f;
}
.blue-header{
  border: 20px solid #183b55;
  background-color: #28455f;
}
.blue-header-no-border{
  background-color: #28455f;
}

.yellow {  
  background-color: #d1a522;
}
.yellow-header{
  border: 20px solid #b58e1c;
  background-color: #ac9340;
}
.about{
  background: url(../media/section/about.jpg);
  background-position: center center;
  z-index: -3;
}
.team{
  background: url(../media/section/princeton.jpg);
  background-position: center center;
}
.services{
  background: url(../media/section/services.jpg);
  background-position: center center;
}
.testimonial{
  background: url(../media/section/testimonial.jpg);
  background-position: center center;
}
.blog{
  background: url(../media/section/blog.jpg);
  background-position: center center;
}
.media{
  background: url(../media/section/media.jpg);
  background-position: center center;
}

.resources{
  background: url(../media/section/princeton_home.jpg);
  background-position: center center;
  background-repeat: no-repeat;

}

/*.overlay-header {
  opacity: 0.70;
  filter: alpha(opacity=70);
  border: 20px solid #1e2530;
  position: absolute;
  height: 50%;
  width: 100%;
  background-position: center;
  background-color: #d1ab22;
  object-fit: cover;
  background-position: contain;
  z-index: 0;
}*/