/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  width: 100%;
  background-color: #acacac;
}
@font-face {
    font-family: Rufina Bold;
    src: url(assets/fonts/Rufina/Rufina-Regular.WOFF);
    src: url(assets/fonts/Rufina/Rufina-Regular.ttf);
    src: url(assets/fonts/Rufina/Rufina-Regular.eot);
}
@font-face {
    font-family: Rufina;
    src: url(assets/fonts/Rufina/Rufina-Bold.WOFF);
    src: url(assets/fonts/Rufina/Rufina-Bold.ttf);
    src: url(assets/fonts/Rufina/Rufina-Bold.eot);
    font-weight: bold;
}

@font-face {
  font-family: Montserrat Light;
  src: url(assets/fonts/Montserrat/Montserrat-Light.eot);
  src: url(assets/fonts/Montserrat/Montserrat-Light.woff);
  src: url(assets/fonts/Montserrat/Montserrat-Light.ttf);
  src: url(assets/fonts/Montserrat/Montserrat-Light.svg);
  font-weight: normal;
}


h1, h2, h3, h4, h5, h6 {
  font-family: Rufina, serif;

}
p, blockquote, span, a, ul, li, label{
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

h1{
  font-size: 320%;
}
h2{
  font-size: 300%;
}

/* =============================================================================
                    RE-USABLE CLASS by Dynn
============================================================================= */
.float-right {
  float: right;
}
.position-absolute {
  position: absolute;
  z-index: 10;
  /*height: 100%;*/
}
.margin-auto {
  margin: 0 auto;
}

.white-font {
  color: #fff;
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

.font-500 {
  font-weight: 400;
}

/* =============================================================================
  TOPBAR
============================================================================= */

@media (min-width: 768px) { 
  .navbar-nav>li>a {
    padding-bottom: 0;
  }
}
.topBar{
  background-color: #28455f;
  color: #ffffff;
  width: 100%;
  position: absolute;
  left: 0;
  right: 5px;
  z-index: 20;
  font-family: Montserrat;
  font-size: 16px;
  padding: 1.7%;

}

#stickyNavBar{
  z-index: 25;
}
.logo-white{
  float:left;
  left: 1%;
  position: absolute;
  max-width:8%;
  height:auto;
  z-index: 20;
}

#hamburger-navbar {
  float: right;
  z-index: 20;
  position: relative;
  margin-top: 5%;
  cursor: pointer;

}
#hamburger-navbar ul li a{
  color: #fff !important;

}
#hamburger-navbar ul li a:hover{
  background-color: transparent;
  color: #28455f;
  border-bottom: 3px solid #28455f;
}
#hamburger-navbar ul li a:active{
  background-color: transparent;
  border-bottom: 3px solid #fff;
}
#hamburger-navbar ul li a:visited{
  background-color: transparent;
  border-bottom: 3px solid #fff;
}
.ham-button {
  cursor: pointer;
}
.intro-section {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 6;
}
.layer .form-group {
  padding: 5px;
}
.menu-icon{
max-height: 50px;
width: auto;
}
#nav-side {
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  height: 5%;
  width: 0px;
}
#nav-side.in {
  width: 280px;
}


/* =============================================================================
  VIDEO
============================================================================= */                                                      

.content_heading {
  color: #ffffff;
  font-size: 30px;
}

#style-btn {
  padding:  20px 20px;
  color: #ffffff;
  background-color: #28455f;
  border: 4px solid #1a2351;
  text-decoration: none;
}
.icon-down{
  width: 3%;
  height: 3%;
  padding-top: 4%;
  /*position:absolute;*/
  /*bottom: 0;*/
}
.logo{
  max-width:40%;
  height:auto;
}
.custom-btn{
  padding: 1%;
}


/* =============================================================================
  HOME
============================================================================= */

.home-section {
  background-image: url(../media/section/princeton_home.jpg);
  height: 80%;
  width: 100%;
  background-color: #28455f;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*object-fit: cover;*/
  background-position: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  text-align: center;
  color: #ffffff;
  z-index: -1;
  margin-top: -5%;
}

.overlay-home {
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: absolute;
  height: 80%;
  width: 100%;
  background-position: center;
  background-color:black;
  object-fit: cover;
  background-position: contain;
  z-index: 0;
/*  margin-top: -6%;*/
}
#content-group{
  text-align: center;
  position: absolute;
  margin-top: 10%;
  margin-bottom: 20%;
  padding-top: 5%;
  width: 100%;
  z-index: 1;
}
.home-content{
  padding: 3% 25% 5% 25%;
}



/* =============================================================================
  MAP
============================================================================= */
.map-section{
  height: 80%;
    text-align: center;
    background-color: #d9e2e8;
    color: black; 
}
/* =============================================================================
  COURSES
============================================================================= */
.courses-section{
  text-align: center;
  height: 75%;
  width: 100%;
  background-image:url(../media/section/courses.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*object-fit: cover;*/
  /*background-position: contain;*/
  text-align: center;
  color: #ffffff;
  z-index: -1;
}


.courses-page{
  padding: 10%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.custom-btn{
  padding: 5%;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video-section{
  text-align: center;
  background-color: #0f2738;
  color:#ffffff; 
/*  z-index: 1;
*/}

.video-page{
  margin: 0 auto;
/*   background-image:url(../media/section/sidebar-youtube.png);*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
/*    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;*/
  /*position: absolute;*/
/*  padding-top: 27%;
*/  width: 100%; 

/*  z-index: 3;*/

}
.video-text{
  padding-top: 8%;
}

#parallelogram{
  width: 100%;
  height:80%;
  background-color: #0f2738;
  -webkit-transform: perspective(300px) rotateX(-30deg);
  -o-transform: perspective(300px) rotateX(-30deg);
  -moz-transform: perspective(300px) rotateX(-30deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  position: absolute;
  z-index: 2;
}
.video_content{
  max-width:880px;
  margin:0 auto; 
  padding:0px
}
.video-container{
  position: relative;
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden;
}
.video-frame{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
  max-width: 880;
  max-height: 500;
}
/* =============================================================================
  STATS
============================================================================= */
.stats-section{
  text-align: center;
  width: 100%;
  background-image:url(../media/section/yale.png);
  background-color: #ffffff; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  /*background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: contain;*/
  color: #ffffff;
  z-index: 0;
  overflow: hidden;
}

#stats-wrap{
  margin: 3% 1% 3% 1%;
  padding: 3%;
  z-index: 3;

}

.stats-section div .row div div div div div #stats-logo{
  max-width:60%;
  height:auto;
  margin-right: auto;
  margin-left: auto;
  padding: 5%; 
}
.stats-section div .row div div div div div div #counter{
  text-shadow: 3px 3px 5px #000000;
  font-size: 25px;
  color: #ffffff;
}
.stats-section div .row div div div div div div #stats-text{
  padding: 2% 3% 0% 3%;
  color: #1e2530;
}
@media  (min-width: 768px) {
  div.col-sm-7.five-three {
    width: 60% !important;
  }

    div.col-sm-5.five-two {
    width: 40% !important;
    }
}
/* =============================================================================
  BLOG
============================================================================= */
.blog-section{
    width: 100%;
    text-align: center;
    background-color: #28455f;
    color: #ffffff; 
    
}

.blog-container{
    margin: 3%;
}
.recent-blog{
  text-align: right;
  padding: 1%;
}
.blog-content{
  border:  2px solid #ffffff;
  padding: 3%;
}
.fb-blog{
  text-align: left;
  padding: 1%;
}
.fb-img{
  background-color: #ffffff;
  border: 2px solid #28455f;
  height: 50px;
  width: 50%;
}
.fb-content{
    border:  2px solid #28455f;
    padding: 3%;
    background-color: #ffffff;
    color:#28455f
}

/* =============================================================================
  PARTNERS
============================================================================= */
.partner-section{
  height: 50%;
  text-align: center;
  background-color: #d9e2e8;
  color: #28455f; 
}
.partner-section div div .partner-header{
  margin: 5%;
}
.slider {
  width: 60%;
  margin: 30px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
.slick-prev:before, .slick-next:before {
  color: #28455f;
}


/* =============================================================================
  PARTNERS
============================================================================= */


.lorem-ipsum{
  color: #101010;
  padding:  5% 10% 5% 10%;
  text-align: justify;
}