/* =============================================================================
  Testimonial
============================================================================= */

.testimonial-section{
  width: 100%;
  color: #ffffff;
  z-index: 15;
}
#testimonialSectionOne{
  background-color: #183b55; 
}
.testimonial-section div div div .testimonial-img .border-blue{

  border: 3px solid #183b55;

}
#testimonialSectionTwo{
  background-color: #1e2530; 
}
.testimonial-section div div div .testimonial-img .border-darkblue{

  border: 3px solid #1e2530;

}
#testimonialSectionThree{
  background-color: #be9d45; 
}
.testimonial-section div div div .testimonial-img .border-yellow{

  border: 3px solid #be9d45;

}
.testimonial-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;

}
.testimonial-container {
  display: block;
  float: left;
  margin-right: 5%;
  clear: both;
}
.testimonial-section div div div .testimonial-img img{
  margin-top: -10%; 
  margin-bottom: -10%;
  width: 80%;
  height: auto;
  z-index: 11;
  border: 3px solid #183b55;
  display: block;
  float: : right;
  margin-left:  8%;
  clear: both;
}

.testimonial-container{
  z-index: 12;
}
.testimonial-quote{
  margin-top: -3%;
  width: 12%;
  z-index: 12;
  opacity: 0.25;
  filter: alpha(opacity=25);
}
.testimonial-content{
  padding: 2.5%;
}
.testimonial-text{
  margin-top: -7%;
  padding: 1%;
  display:block;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  border-left-color:  transparent;
}
.testimonial-text::after{
  content:"\201D";
}

.testimonial-author{
  padding: 1% 2% 0% 0%;
  text-align: right;
}