
/*video */
.section{
  overflow: hidden;
}
.intro-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background-color: #acacac;
  color: black;
  /*z-index: -3;*/
}

#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 89.5%;
  background-size: 100% 100%;
  background-color: black;
  background-image: /* our video */;
  background-position: center center;
  object-fit: cover;
  background-size: contain; 
  z-index: 0;
  margin-bottom: 30%;
}

#section0 .overlay {
  opacity: 0.50;
  filter: alpha(opacity=50);
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-color: #8e8586;
  background-position: center center;
  object-fit: cover;
  background-size: contain; 
/*  margin-top: 5%;*/
  z-index: 1;
}

#section0 .layer{
  position: absolute;
  width: 100%;
  left: 0;
  top: 33%;
  z-index: 2;
}
#section0{
  overflow: hidden;
}

/*affix video */
/*body {
  position: relative;
}
.affix {
  top: 0;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
  position: relative;
  padding-top: 70px;
  padding-bottom: 20%;
}*/


/**text content*/
@media(max-width:600px) {
  .vhead .vbody{
      float: left;
      padding-right: auto;
      padding-top: 3%;
      text-align: left;
      padding-left: 20%;
      padding-right: 20%
    }
  .v-btn {
    padding-top: 3%;
  }
  h2.mhead {
    font-size: 200%;
    text-align: center;
  }
  #mimage {
    height: 25%;
    width: 25%;
    border-radius: 50%;
  }
  .mimage-container{
    float: left;
    display: block;
  }
}
